@import url('https://fonts.googleapis.com/css?family=Almendra SC');

body {
    font-family: 'Almendra SC';
    background: gray;
}

table, th, td {
    z-index: 2;
    border: 2px solid white;
    padding: .5rem;
  }
  table {
    border-collapse: collapse;
    margin: 1rem 1rem 4rem 0;
  }
  
  th {
      z-index: 3;
    background: rgb(23, 75, 219);
  }
  

/* * {
    box-sizing: border-box;  
} */
#weather-container {
    display: flex;
    flex-wrap: wrap;
}

.today-container {
    text-align: center;
    padding: 1rem;
    flex: 1;
    min-width: 20%;
    color: white;
    
}

/* The content of the today-container (weather about today only) */
.weatherResults {
    flex: 1;
    
    text-align: center;
}



#hour3day5-header {
    margin-top: 3rem;
   }

.content {
    
    z-index: 1;
    width: 80%;
    
    margin: auto;
    background: black;
    color: white;
    height: 100%;
    
}

.submission {
    
    margin: 2rem 0 1rem 5rem;
    
}

@media only screen and (max-width: 1178px) and (min-width: 251px) {
    .today-container {
        min-width: 80%;
        
        
    }
    .weatherResults {
        width: 80%;
        
    }

    table, th, td {
        z-index: 2;
        border: 2px solid white;
        padding: 0;
        
      }

 
      #day5-container {
        border-top: white 3px solid;
        min-width: 100%;
      }

      table {
        
        margin: auto;
      }
        
        
       

  }

  /* @media only screen and (max-width: 770px) and (min-width: 251px) {
    .today-container {
        min-width: 80%;
        
        
    }
    .weatherResults {
        width: 80%;
        
    }

    table, th, td {
        z-index: 2;
        border: 2px solid white;
        padding: 0;
        margin-right: 0;
      }
      

  } */

  @media only screen and (max-width: 250px) {
    
    .weatherResults {
        width: 100%;
        
    }
    .today-container {
        
        border-bottom: solid 2px white;
        margin-bottom: 1rem;
        
    }
    table, th, td {
        
        padding: 0;
      }
      

  }

  
   
  